body::before{
    display: block;
    content: '';
    height: 220px;
}
@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

#navsection{
    background-image: url(assets/boydremer.avif);

    
}